/* ==== CONTENT - CREATE ==== */
.create-wrapper {
    flex: 0 1 960px;
    display: flex;
    flex-direction: column;
}
.create {
    flex: 1 0 auto;
}
.create .title-wrapper {
    display: flex;
}
.create label {
    display: inline-block;
    width: 100px;
    font-weight: bold;
}
.create label.option {
    vertical-align: top;
}
.create .options-wrapper {
    display: flex;
    margin-top: 20px;
}
.create .options {
    flex: 1 0 100px;
    display: flex;
    flex-direction: column;
}
.create .option-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}
.create .option-row:first-child {
    margin-top: 2px;
}
.create textarea {
    border: none;
    border-bottom: 2px dashed silver;
    font-style: italic;
    max-width: 100%;
    padding: 1px;
    flex: 1 0 100px;
}
.create textarea:focus {
    border-bottom: 2px dashed rgb(78, 205, 196) !important;
}
.create textarea.title {
    font-weight: bold;
    margin-top: -1px;
}
.create .delete-option {
    flex: 0 0 50px;
}
.create .delete-option .delete-button {
    width: 18px;
    height: 18px;
    background: url("./images/delete.png") top center no-repeat;
    float: right;
    cursor: hand;
    border: none;
}
.create .delete-option > div:hover {
    background-position-y: -18px;
}
.submit-wrapper {
    flex: 0 0 auto;
    text-align: right;
    margin-top: 50px;
}
.create-wrapper .submit {
    font-weight: bold;
    padding: 10px 20px;
    border: 1px solid rgb(148, 178, 85);
    border-radius: 5px;
    background-color: rgb(199, 244, 100);
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, from(rgb(199, 244, 100)), to(rgb(178, 219, 89)));
}
.create-wrapper .submit:hover {
    border: 1px solid rgb(110, 134, 58);
}
.create-wrapper .submit:active {
    border: 1px solid rgb(110, 134, 58);
    background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, from(rgb(178, 219, 89)), to(rgb(199, 244, 100)));
}


/* ==== MEDIA QUERIES ==== */
@media screen and (max-width: 366px) {
    .content-wrapper {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
}
@media screen and (max-width: 390px) {
    .large-text {
        font-size: 12pt;
    }
    .medium-text {
        font-size: 11pt;
    }
    small-text {
        font-size: 10pt;
    }
    tiny-text {
        font-size: 9pt;
    }
}
@media screen and (max-width: 525px) {
    .content-wrapper {
        flex: 0 1 auto;
    }
    .create .delete-option {
        flex: 0 0 30px;
    }
    .create label {
        width: 85px;
    }
}

@media screen and (max-height: 300px) {
    .create label {
        font-size: 12pt;
    }
    .create .options-wrapper {
        margin-top: 10px;
    }
    .create .option-row {
        margin-top: 5px;
    }
    .create-wrapper .submit {
        margin-top: 10px;
        padding: 5px 10px;
    }
}

@media screen and (max-height: 350px) {
    .content-wrapper {
        padding-top: 2px !important;
        padding-bottom: 2px !important;
    }
}
@media screen and (min-height: 350px) and (max-height: 400px){
    .content-wrapper {
        padding-top: 2px !important;
        padding-bottom: 2px !important;
    }
}
