p {
    font-size: 12pt;
    margin-bottom: 10px;
}


.about-wrapper {
    flex: 0 1 960px;
}
.about-text {
    margin-top: 20px;
}
.shoutouts {
    margin-top: 50px;
}
.fetch-wrapper {
    margin-top: 80px;
}

/* ==== MEDIA QUERIES ==== */
@media screen and (max-width: 366px) {
    .content-wrapper {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
}
@media screen and (max-width: 390px) {
    .large-text {
        font-size: 12pt;
    }
    .medium-text {
        font-size: 11pt;
    }
    small-text {
        font-size: 10pt;
    }
    tiny-text {
        font-size: 9pt;
    }
}
@media screen and (max-width: 525px) {
    .content-wrapper {
        flex: 0 1 auto;
    }
}

@media screen and (max-height: 350px) {
    .content-wrapper {
        padding-top: 2px !important;
        padding-bottom: 2px !important;
    }
}
@media screen and (min-height: 350px) and (max-height: 400px){
    .content-wrapper {
        padding-top: 2px !important;
        padding-bottom: 2px !important;
    }
}
